.footer {
    height : 60px;
    flex-shrink: 0;
    border-top: 1px solid #eee;
    padding: 0 20px;
    font-size: 14px;
    display : flex;
    align-items: center;
    justify-content: center;
    color : gray;
}