html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.no-scroll {
    overflow: hidden;  
}

body {
    display: flex;
    flex-direction: column;
    height : 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

.inner-content {
    width: 100%;
    max-width: 1600px !important;
    margin: 0 auto;
}

main { 
    flex-grow: 1;
    width : 100%;
    overflow: hidden;
}
