# Django 관련
Django==5.2.4

# 데이터베이스 (MySQL)
PyMySQL==1.1.1

# 구글 OAuth 인증
google-auth==2.36.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0

# LangChain 관련
langchain-community
langchain-openai
langchain-huggingface

# 환경 변수 관리
python-dotenv==1.0.1

# 웹 스크래핑 및 API 요청
requests==2.32.4
beautifulsoup4==4.13.4

# 주식 데이터
yfinance==0.2.65
pykrx==1.0.51

# 데이터 처리
pandas==2.3.1
numpy==1.26.4

# 기타 유틸리티
# uuid, datetime는 파이썬 내장 모듈 