{% extends "layout/base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/app/main.css" %}">
    {% if user.is_authenticated %}
    <meta name="user-authenticated" content="true">
    {% endif %}
{% endblock head %}

{% block title %}chatbot{% endblock title %}

{% block content %}

<div class="chat-container">
    <div class="chat-list chat-sidebar">
        <div class="chat-list__add">
            <div class="chat-list__name">대화 목록</div>
            <div class="chat-add-button"><button type="button" class="btn btn-outline-secondary new-chat-btn">+</button></div>
        </div>
        <div class="chat-list__item" id="chatListContainer">
            <!-- 동적으로 생성되는 대화 목록이 여기에 추가됩니다 -->
            <div class="chat-list__empty">저장된 대화가 없습니다.</div>
        </div>


        <div class='btn-group__container'>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">초급</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">중급</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">고급</label>
            </div>
        </div>
    </div>
    <div class="chat-window">
        <div class="chat-messages">
            <!-- 동적으로 생성되는 메시지들이 여기에 추가됩니다 -->
        </div>
        <div class="chat-input__container">
            <div class="chat-input">
                <div class="chat-input__box">
                    <input type="text" placeholder="재무 데이터 rag에게 물어보기..." />
                </div>
                <div class="chat-search">
                    <div class="chat-search-button">
                        <button type="button" class="btn btn-outline-secondary">
                            <i class="bi bi-send"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="additional_info">
        <div class="choices">
            <div class="stock">
                <div class="stock-button"><button id="stock-button" type="button" class="btn btn-outline-secondary">주식</button></div>
            </div>
            <div class="news">
                <div class="news-button"><button id="news-button" type="button" class="btn btn-outline-secondary">뉴스</button></div>
            </div>
        </div>
        <div class="choices-info">
            <div class="news-container" id="news-container">
            </div>
            <div class="stock-container" id="stock-container">
            </div>
        </div>
        <div class="choices-input__container">
            <div class="choices-input">
                <div class="choices-input__box">
                    <input type="text" placeholder="주식 검색" />
                </div>
                <div class="choices-search">
                    <div class="choices-search-button">
                        <button type="button" class="btn btn-outline-secondary">
                            <i class="bi bi-send"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}

